body {
    background-image: url(images/main.jpg);
    background-size: cover;
}

section {
    max-width:100%;
    height:700px;
    background: bisque;
    margin:50px 80px;
    border: 5px solid transparent;
    border-image: linear-gradient(to bottom, #d511b8 0%, #2c4dd5 50%, #1f6834 100%);
    border-image-slice:1;
    box-sizing: border-box;

}


.images-classes {
    display: flex;
    justify-content: center;
}

.image {
    max-width:500px;
    max-height: 360px;
    border: 1px solid black;
    padding: 3px;
}

.images-classes img {
    border: 2px solid green;
    margin: 5px;
}

.bottompart {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#btn {
    max-width:250px;
    height:80px;
    border:3px solid #ffbb2f;
    border-radius: 90px;
    background: linear-gradient(to top, #ff6b36, #f1da36);
    color:#000080;
    font-size: 22px;
    transition: 0.5s;
    margin:auto;
    margin-top:50px;
    margin-bottom: 50px;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

}

#btn:hover {
    box-shadow: 5px 5px #ffbb2f;
    transition: 0.5s;
    cursor:pointer;
    max-width: 265px;
   height: 85px;
}

#uploadPicture {
    visibility: hidden;
}

ul {
    display: flex;
    width: 340px;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
ul li {
    width: 73px;
    height: 43px;
    border: 2px solid black;
    margin:5px;
    cursor: pointer;
    background: #1f6834;
    transition: 1s;
    color:navajowhite;
    box-sizing: border-box;
    padding: 7px 7px;
    transition: 2s;
}

ul li:hover {
    background: antiquewhite;
    box-shadow: 2px 2px;
    transition: 1s;
    color: #1f6834;
}

#saveimg {
    margin:5px 50px;
    width: 120px;
    height:45px;
    color:darkgreen;
    font-size: 18px;
    background: #f1da36;
    border-left: darkgreen 2px solid;
    border-right: darkslategray 2px solid;
    box-shadow: #ff6b36 3px 3px;
}


.fil1 {
    filter: brightness(40%);

}

.fil2 {
    filter: hue-rotate(180deg);

}

.fil3 {
    filter:saturate(170%);


}
.fil4 {
    filter: sepia(80%);

}

.fil5 {
    filter:opacity(20%);

}

.fil6 {
    filter:grayscale(50%);


}
.fil7 {
    filter:hue-rotate(120deg);


}
.fil8 {
    filter:invert(70%);


}
.fil9 {
    filter:saturate(320%);


}
.fil10 {
    filter:grayscale(30%);
}
.fil11 {
    filter:sepia(200%);


}
.fil12 {
    filter:hue-rotate(235deg);
}
.fil13 {
    filter:drop-shadow(10px -3px 5px greenyellow);
}
.fil14 {
    filter:invert(90%);

}
.fil15 {
    filter:drop-shadow(-10px 20px 3px orange);

}
.fil16 {
    filter:none;

}